includes:
    - ./vendor/nunomaduro/larastan/extension.neon
parameters:
    paths:
        - app
        - bootstrap
        - config
        - database
        - resources/views
        - routes
        - tests
    excludePaths:
        - ./routes/console.php
    level: 6
